In [2]:
import pandas as pd
import os
import random
import time

In [14]:
data_dir = '/opt/ml/input/data/'
csv_file_path = os.path.join(data_dir, 'train_data_timestamp.csv')
df = pd.read_csv(csv_file_path) 
df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,year,month,day,hour,wday,retry,time,time_class
0,0,A060001001,A060000001,1,1585009031,7224,2020,3,24,0,1,0.0,3.0,0
1,0,A060001002,A060000001,1,1585009034,7225,2020,3,24,0,1,0.0,8.0,0
2,0,A060001003,A060000001,1,1585009042,7225,2020,3,24,0,1,0.0,7.0,0
3,0,A060001004,A060000001,1,1585009049,7225,2020,3,24,0,1,0.0,7.0,0
4,0,A060001005,A060000001,1,1585009056,7225,2020,3,24,0,1,0.0,11.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2266581,7441,A030071005,A030000071,0,1591339821,438,2020,6,5,6,4,0.0,27.0,2
2266582,7441,A040165001,A040000165,1,1597971999,8836,2020,8,21,1,4,0.0,11.0,1
2266583,7441,A040165002,A040000165,1,1597972010,8836,2020,8,21,1,4,0.0,46.0,3
2266584,7441,A040165003,A040000165,1,1597972056,8836,2020,8,21,1,4,0.0,73.0,4
2266585,7441,A040165004,A040000165,1,1597972129,8836,2020,8,21,1,4,0.0,27.0,2

In [18]:
def tag_fe(df):
    ## tag
    correct_k = df.groupby(['KnowledgeTag'])['answerCode'].agg(['mean', 'sum','std'])
    correct_k.columns = ["tag_mean", 'tag_sum','tag_std']

    df = pd.merge(df, correct_k, on=['KnowledgeTag'], how="left")
    
    return df

In [19]:
df = tag_fe(df)

In [20]:
df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,year,month,day,hour,...,tag_std_x,test_type,test_ans_mean_y,test_ans_sum_y,test_ans_std_y,test_time_mean_y,test_time_std_y,tag_mean_y,tag_sum_y,tag_std_y
0,0,A060001001,A060000001,1,1585009031,7224,2020,3,24,0,...,0.207410,6,0.947683,1268,0.222749,22.549327,32.154489,0.955022,637,0.207410
1,0,A060001002,A060000001,1,1585009034,7225,2020,3,24,0,...,0.281603,6,0.947683,1268,0.222749,22.549327,32.154489,0.913187,3040,0.281603
2,0,A060001003,A060000001,1,1585009042,7225,2020,3,24,0,...,0.281603,6,0.947683,1268,0.222749,22.549327,32.154489,0.913187,3040,0.281603
3,0,A060001004,A060000001,1,1585009049,7225,2020,3,24,0,...,0.281603,6,0.947683,1268,0.222749,22.549327,32.154489,0.913187,3040,0.281603
4,0,A060001005,A060000001,1,1585009056,7225,2020,3,24,0,...,0.281603,6,0.947683,1268,0.222749,22.549327,32.154489,0.913187,3040,0.281603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2266581,7441,A030071005,A030000071,0,1591339821,438,2020,6,5,6,...,0.462671,3,0.662590,921,0.472996,50.710791,58.611862,0.689706,2814,0.462671
2266582,7441,A040165001,A040000165,1,1597971999,8836,2020,8,21,1,...,0.459253,4,0.655109,718,0.475550,46.906022,58.021546,0.697874,2199,0.459253
2266583,7441,A040165002,A040000165,1,1597972010,8836,2020,8,21,1,...,0.459253,4,0.655109,718,0.475550,46.906022,58.021546,0.697874,2199,0.459253
2266584,7441,A040165003,A040000165,1,1597972056,8836,2020,8,21,1,...,0.459253,4,0.655109,718,0.475550,46.906022,58.021546,0.697874,2199,0.459253
2266585,7441,A040165004,A040000165,1,1597972129,8836,2020,8,21,1,...,0.459253,4,0.655109,718,0.475550,46.906022,58.021546,0.697874,2199,0.459253